	body {
		margin: 0;
		padding: 0;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		color: white;
		background-color: #141414;
	}
	
	figcaption {
		display: none;
	}
	
	.topo > figure {
		width: 100px;
		margin: 0;
		padding: 20px 0 0 20px;
	}
	
	.pg-home {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 90vh;
	}

	section {
		display: flex;
		flex-direction: column;
		width: 858px;
	}
	
	h2 {
		display: flex;
		text-align: center;
		justify-content: center;
		font-size: 45px;
	}
	
	ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: 0;
		padding: 0;
		flex: 1 1 186px;
	}
	
	li {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 186px;
	}
	
	li img {
		border-radius: 7px;
		width: 100%;
	}

	h3 {
		opacity: 0.5;
	}
	
	h3:hover {
		opacity: 1;
		cursor: pointer;
	}
	
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2em 2em;
	}
	
	button {
		border: 2px solid white;
		background-color: #141414;
		color: white;
		padding: 15px 70px 15px 70px;
		font-size: 15px;
		text-transform: uppercase;
		opacity: 0.5;
	}
	
	button:hover {
		opacity: 1;
		cursor: pointer;
	}

	@media (max-width: 600px){
		ul{flex-wrap: wrap;
		}
	}